{%- if collection.metafields.custom.html.value != blank -%}
  <div {% render 'section-properties' %}>
    <div class="section-stack">
      {%- render 'section-header'
        , subheading: section.settings.subheading
        , heading: section.settings.title
        , heading_color: section.settings.heading_color
        , heading_gradient: section.settings.heading_gradient
        , content: section.settings.content
        , link_text: section.settings.link_text
        , link_url: section.settings.link_url -%}
    </div>
    <div>
      {{ collection.metafields.custom.html.value }}
    </div>
  </div>
{%- endif -%}
{% if collection.url contains 'all' %}
<div {% render 'section-properties' %}>
    <div class="section-stack">
      {%- render 'section-header'
        , subheading: section.settings.subheading
        , heading: section.settings.title
        , heading_color: section.settings.heading_color
        , heading_gradient: section.settings.heading_gradient
        , content: section.settings.content
        , link_text: section.settings.link_text
        , link_url: section.settings.link_url -%}
    </div>
    <div>
      {{ collections['custom-all'].metafields.custom.html.value }}
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Collection html",
    "class": "shopify-section-collection-html",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Colors",
        "info": "Gradient replaces solid colors when set."
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Background gradient"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text"
      }, {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color"
      }, {
        "type": "color_background",
        "id": "heading_gradient",
        "label": "Heading gradient"
      }
    ],
    "presets": [
      {
        "name": "Collection html"
      }
    ]
  }
{% endschema %}